.button {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border: 1px solid $black;
  outline: none;
  border-radius: 100px;
  font-family: $protoGrotesk;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: .2px;
  color: $black;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  transition: .2s linear;

  &:hover {
    background-color: $lightGray;
  }

  &:active {
    background-color: $black;
    color: $background;
  }

  &:active:hover {
    background-color: $darkBlue;
    color: $background;
    border-color: $darkBlue;
  }

  &_type_light {
    border-color: $blue;
    color: $blue;

    &:hover {
      background-color: $lightBlue;
    }

    &:active {
      background-color: $blue;
      //color: $background;
    }

    &:disabled {
      color: $lightGray;
      border-color: $lightGray;
      pointer-events: none;
      user-select: none;
    }

    /* &_selected {
      background-color: $blue;
      color: $white;

      &:hover {
        background-color: $darkBlue;
      }

      &:hover:active {
        border-color: $darkBlue;
      }
    } */
  }

  &_type_button-dots {
    padding: 0 15px;

    &:hover {
      background-color: $lightBlue;
    }
  }
}

@include atDesktop1024 {
  .button {
    height: 40px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 1.4;

    &_type_button-dots {
      padding: 0 12px;
    }
  }
}
