.card-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 222px;
  justify-content: center;

  &_type_main-article {
    grid-template-columns: 66% 34%;
    grid-template-rows: 630px;
  }

  &_type_main-video {
    grid-template-columns: 32% 68%;
    grid-template-rows: 1fr;
  }

  &_type_article {
    grid-template-rows: 224px 222px;
  }

  &_type_identical {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 520px;
    gap: 30px;
  }

  &_type_iframe {
    grid-template-columns: 420px 1fr;
    grid-template-rows: 627px;
    gap: 30px;
  }

  &_type_personal-area {
    max-width: 1170px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 470px;
  }
}

@include atDesktop1440 {
  .card-container {
    &_type_main-article {
      grid-template-columns: 1fr 1fr;
    }

    &_type_identical {
      grid-template-rows: 414px;
    }

    &_type_iframe {
      grid-template-columns: 370px 1fr;
    }
  }
}

@include atDesktop1380 {
  .card-container_type_personal-area {
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1fr;
  }
}

@include atDesktop1024 {
  .card-container {
    &_type_main-article {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 188px;
    }

    &_type_main-video {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 147px;
    }

    &_type_article {
      grid-template-rows: 176px 188px;
    }

    &_type_identical {
      grid-template-rows: 382px;
    }

    &_type_iframe {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 552px;
    }
  }
}

@include atTabletL {
  .card-container {
    &_type_identical {
      grid-template-columns: 1fr;
      grid-template-rows: 382px 290px;
    }

    &_type_iframe {
      grid-template-columns: 1fr;
      grid-template-rows: 433px 1fr;
    }
  }
}

@include atMobile {
  .card-container {
    grid-template-columns: minmax(290px, 450px);

    &_type_identical {
      grid-template-columns: minmax(290px, 450px);
    }

    &_type_iframe {
      grid-template-columns: minmax(290px, 450px);
    }

    &_type_personal-area {
      grid-template-rows: 290px 1fr;
    }
  }
}
