.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 30px 15px;
  border-radius: 30px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;

  // цвета карточек
  &_color_yellow {
    background-color: $yellow;
  }

  &_color_green {
    background-color: $green;
  }

  &_color_pink {
    background-color: $pink;
  }

  &_color_blue {
    background-color: $lightBlue;
  }

  // разделение по наполнению
  &_content_annotation {
    align-items: flex-start;
    padding: 30px;
  }

  &_content_book {
    padding: 30px;
  }

  &_content_video {
    padding: 0;
  }

  &_content_media {
    padding: 0;
    justify-content: center;
  }

  &_content_video-preview {
    padding: 30px;
  }

  &_content_quote {
    padding-top: 120px;
    padding-bottom: 30px;
    height: 490px;
  }

  // главная карточка на страницах Куда пойти и Статьи
  &_type_main {
    padding-top: 47px;
    padding-bottom: 30px;
  }

  &_form_square {
    border-radius: 3px;
    &::before {
      content: '';
      padding-bottom: 100%;
    }
  }

  // разделение по формам
  &_form_circle {
    border-radius: 100%;
    &::before {
      content: '';
      padding-bottom: 100%;
    }
  }

  &_form_arch {
    border-radius: 300px 300px 3px 3px;
    &::before {
      content: '';
      padding-bottom: 100%;
    }
  }
}

// обертки
.card__link-wrap {
  width: 100%;
  text-decoration: none;

  &_content_article-img {
    margin-top: 70px;
    margin-bottom: 15px;
  }
}

.card__title-wrap {
  text-align: center;
}

.card__video-info {
  box-sizing: border-box;
  padding: 15px 30px;
  text-align: center;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// текстовые элементы
.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.card__title-caption {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.card__link {
  margin-top: auto;
}

.card__rubric {
  position: absolute;
  top: 15px;
}

.card__quote {
  margin: 0 auto;
  max-width: 970px;
  text-align: center;
  color: #1a1a1a;
}

.card__media-link {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: rgba($black, 0.6);
}

// фото на главной карточке
.card__img {
  width: 100%;
  height: 394px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

// фото на карточке c главной страницы
.card__media-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// видео на карточке попапа
.card__video-iframe {
  margin: 0;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  max-width: 1710px;
  max-height: 962px;
  border: none;
}

.card__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

// карточка с аннотацией
.card__content {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #e8e6e6 transparent;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #e8e6e6;
    border-radius: 5px;
  }
}

.card__annotation-caption {
  margin-bottom: 10px;
}

.card__annotation {
  padding-right: 5px;

  &_position_main-card {
    margin-top: 95px;
  }

  &_type_main-article {
    margin-top: 120px;
  }
}

.card__paragraph {
  margin-top: 30px;

  &:first-of-type {
    margin: 0;
  }
}

@include atDesktop1440 {
  .card__img {
    &_position_main-article {
      margin-top: 10px;
    }
  }

  .card__video-iframe {
    max-width: 1100px;
    max-height: 625px;
  }
}

@include atDesktop1024 {
  .card {
    padding-left: 15px;
    padding-right: 15px;

    &_type_main {
      padding-top: 37px;
      padding-bottom: 15px;
    }

    &_content_annotation {
      padding-right: 7px;
      padding-bottom: 30px;
    }

    &_content_book {
      padding: 30px;
    }

    &_content_video {
      padding: 0;
    }

    &_content_media {
      padding: 0;
    }

    &_content_video-preview {
      padding: 15px;
      grid-row: 2;
    }

    &_content_quote {
      padding-top: 30px;
      padding-bottom: 15px;
      height: 312px;
    }
  }

  .card__video-info {
    padding: 15px;
    height: 147px;
  }

  .card__link-wrap {
    &_content_article-img {
      margin-top: 60px;
    }
  }

  .card__img {
    height: 345px;

    &_position_main-article {
      margin-top: 40px;
    }
  }

  .card__annotation-caption {
    margin-bottom: 5px;
  }

  .card__annotation {
    &_position_main-card {
      margin-top: 0;
    }
  }

  .card__paragraph {
    margin-top: 10px;
  }

  .card__quote {
    max-width: 690px;
    font-size: 19px;
    line-height: 1.2;
  }
}

@include atMobile {
  .card {
    &_content_quote {
      max-width: 450px;
      margin: 0 auto;
    }

    &_content_video {
      max-width: 450px;
      margin: 0 auto;
    }

    &_content_media {
      max-width: 450px;
    }
  }

  .card__link-wrap {
    &_content_article-img {
      margin-top: 40px;
    }
  }

  .card__img {
    height: 142px;

    &_position_main-article {
      margin-top: 20px;
    }
  }
}
