.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(290px, 1fr));
  gap: 80px 30px;

  &_content_small-cards {
    grid-template-columns: repeat(4, minmax(290px, 1fr));
  }
}

@include atDesktop1440 {
  .cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@include atDesktop1024 {
  .cards-grid {
    padding-top: 50px;
    row-gap: 30px;
  }
}

@include atTablet {
  .cards-grid {
    grid-template-columns: 1fr;
    padding-top: 30px;
  }
}
