.footer {
  padding-top: 90px;
  padding-bottom: 82px;
  display: grid;
  grid-template-columns: 500px 300px 200px 156px;
  grid-template-rows: 135px 130px;
  justify-content: center;
  background-color: $darkBlue;
  font-family: $ptRootUI;
}

.footer__logo-image {
  max-width: 415px;
}

.footer__logo {
  max-width: 415px;
  max-height: 76px;
}

.footer__button {
  margin-top: 20px;
  max-width: 169px;
  border-color: $background;
  color: $background;

  &:hover {
    background-color: transparent;
    color: $lightBlue;
    border-color: $lightBlue;
  }

  &:active {
    background-color: transparent;
    color: $lightBlue;
    border-color: $lightBlue;
  }

  &:active:hover {
    background-color: transparent;
    color: $lightBlue;
    border-color: $lightBlue;
  }
}

.footer__brand {
  margin: 0;
  color: $lightBlue;
  font-size: 18px;
  line-height: 1.5;
}

.footer__authors {
  margin: 0;
  color: $background;
  font-size: 18px;
  line-height: 1.5;
}

.footer__production {
  border-bottom: 1px solid $background;
  text-decoration: none;
  color: $background;
  transition: 0.2s linear;

  &:hover {
    color: $lightBlue;
  }
}

.footer__design {
  margin: 0;
  padding-left: 30px;
  color: $background;
  font-size: 18px;
  line-height: 1.5;
}

.footer__copyright {
  padding-top: 10px;
  display: flex;
}

.footer__column_content_info {
  padding-top: 20px;
}

.footer__column_content_social {
  padding-top: 20px;
}

.footer__column_content_concept {
  grid-row: -1/-2;
  align-self: end;
  grid-column: 1/3;
}

.footer__column-list {
  margin: 0;
  padding: 0;
}

.footer__column-links {
  margin-bottom: 20px;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__column-link {
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: $background;
  font-family: $protoGrotesk;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  transition: 0.2s linear;

  &:hover {
    color: $lightBlue;
  }
}

@include atDesktop1279 {
  .footer {
    padding: 40px 130px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
  }
  .footer__column_content_concept {
    justify-self: center;
    display: flex;
    padding-top: 30px;
  }

  .footer__column_content_social {
    grid-row: 3/4;
    grid-column: 1/2;
    padding-bottom: 23px;
    padding-top: 13px;
  }

  .footer__column_content_info {
    padding-top: 0;
    grid-row: 2/3;
    grid-column: 1/2;
    padding-bottom: 13px;
    border-bottom: 1px solid $lightGray;
  }

  .footer__column-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__column-links {
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .footer__column-link {
    line-height: 2.5;
  }

  .footer__logo {
    justify-self: center;
    height: 60%;
  }

  .footer__logo-image {
    max-width: 252px;
    margin-bottom: 40px;
  }

  .footer__button {
    margin-top: 0;
    justify-self: center;
    grid-row: 4/5;
    max-width: 134px;
  }

  .footer__copyright {
    padding-top: 0;
  }

  .footer__authors {
    font-size: 12px;
    padding-left: 30px;
  }

  .footer__brand {
    font-size: 12px;
  }

  .footer__design {
    font-size: 12px;
  }

  .footer__button {
    font-size: 12px;
  }
}

@include atDesktop1023 {
  .footer__column_content_concept {
    flex-direction: column;
  }

  .footer__copyright {
    flex-direction: column;
    padding-bottom: 5px;
  }

  .footer__authors {
    padding: 5px 0 0;
  }

  .footer__design {
    padding: 5px 0 0;
    text-align: center;
  }

  .footer__brand {
    text-align: center;
  }
}

@include atTablet {
  .footer {
    padding: 40px 25px 30px;
  }
}
