.header {
  padding-top: 40px;
  transition: 0.2s linear;
}

.heder_displayed {
  background-color: #fff;
  border-radius: 0px 0px 30px 30px;
}

@include atDesktop1024 {
  .header {
    padding-top: 30px;
  }
}

@include atMobile {
  .header {
    padding-top: 15px;
  }
}
