.pagination {
  display: flex;

  &__nav {
    margin: 0 auto;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    margin-right: 30px;
  }

  &__link {
    text-decoration: none;
    color: $black;

    &_active {
      line-height: 50px;
      text-align: center;
      display: block;
      height: 50px;
      width: 50px;
      border: 1px solid $black;
      border-radius: 50%;
    }
  }
}
