.pagination__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__list-item {
  margin-right: 30px;

  &:last-of-type {
    margin-right: 0;
  }
}

.pagination__link {
  text-decoration: none;
  color: $black;

  &_active {
    line-height: 50px;
    text-align: center;
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid $black;
    border-radius: 100%;
  }
}

.pagination__arrow {
  width: 30px;
  height: 30px;
  margin-left: 55px;
  cursor: pointer;
}

@include atDesktop1024 {
  .pagination {
    padding-top: 60px;
  }

  .pagination__list-item {
    margin-right: 20px;

    &:nth-child(5) {
      display: none;
    }
  }

  .pagination__link {
    &_active {
      line-height: 38px;
      height: 38px;
      width: 38px;
    }
  }

  .pagination__arrow {
    width: 20px;
    height: 20px;
    margin-left: 35px;
  }
}

@include atMobile {
  .pagination {
    padding-top: 30px;
  }

  .pagination__nav {
    justify-content: flex-end;
  }

  .pagination__arrow {
    margin-left: 20px;
  }
}
