.personal-area {
  padding-top: 30px;
}

.personal-area__user-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.personal-area__user-link {
  text-decoration: none;
  color: $lightGray;
  margin-left: 30px;

  &:first-of-type {
    margin-left: 0;
  }
}

.personal-area__sign-up {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid $darkGray;
}

.personal-area__title {
  margin: 0 auto;
  max-width: 770px;
  text-align: center;
  color: $lightBlack;
}

.personal-area__story {
  padding-top: 50px;
}

.personal-area__card {
  padding: 30px 30px 20px;

  &_type_add-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* &_type_photo {
    padding: 0;
    object-fit: cover;
  } */
}

.personal-area__add-photo-button {
  padding: 0;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/svg/personal-area-plus.svg) center no-repeat;
  border: 1px solid $lightGray;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
}

.personal-area__bottom-caption {
  padding-top: 5px;
  color: $lightGray;
}

.personal-area__form {
  width: 100%;
  display: grid;
  gap: 20px 30px;
  grid-template-columns: 1fr minmax(240px, 290px);
  grid-template-rows: auto;
}

.personal-area__form-input {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 13px 20px 16px;
  background-color: $background;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: $black;

  &::placeholder {
    color: $lightGray;
  }

  &_type_textarea {
    grid-column: 1 / -1;
    min-height: 286px;
    resize: none;
  }

  &[type="date"]:not(:focus):not(.has-value):before {
    color:$lightGray;
    content: attr(placeholder);
  }
}

.personal-area__rating {
  display: flex;
  align-items: center;
}

.personal-area__rate {
  width: 26px;
  height: 26px;
  padding: 0;
  margin-right: 15px;
  border: none;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  &_type_good {
    background-image: url('../../images/personal-area/good.svg');
  }

  &_type_neutral {
    background-image: url('../../images/personal-area/neutral.svg');
  }

  &_type_bad {
    background-image: url('../../images/personal-area/bad.svg');
  }
}

.personal-area__rating-label {
  color: $lightGray;
}

.personal-area__buttons {
  display: flex;
  justify-content: flex-end;
}


/* .personal-area__container {
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: $white;
  border-radius: 30px;
} */

/* .personal-area__text-box {
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0;
}

.personal-area__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */



.personal-area__card-date {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.personal-area__card-weekday {
  width: 100px;
  font-family: $ptRootUI;
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 5px;
}

.personal-area__actions {
  padding: 15px 30px 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-area__card-day {
  font-size: 60px;
  text-align: end;
}

.personal-area__card-text {
  width: 520px;
  max-height: 286px;
}



.personal-area__card-title {
  align-self: flex-start;
  padding-bottom: 30px;
}

.personal-area__subtitle {
  color: $lightBlack;
  text-align: center;
  padding-bottom: 50px;
}





@include atDesktop1380 {
  .personal-area__card_type_photo {
    width: 700px;
    height: 700px;
  }
}

@include atDesktop1024 {
  .personal-area__form {
    grid-template-columns: 1fr;
  }
}
