.personal-area {
  padding-top: 30px;
}

.personal-area__user-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.personal-area__user-link {
  text-decoration: none;
  color: $lightGray;
  margin-left: 30px;

  &:first-of-type {
    margin-left: 0;
  }
}

.personal-area__events {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid $darkGray;
}

.personal-area__title {
  margin: 0 auto;
  max-width: 770px;
  text-align: center;
  color: $lightBlack;
}

// карточки с мероприятиями
.personal-area__event-list {
  margin: 30px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 30px;
}

.personal-area__event {
  min-width: 270px;
  padding: 30px;
  padding-right: 24px;
}

.personal-area__event-date {
  width: 100%;
  display: flex;
}

.personal-area__event-number {
  margin-right: 10px;
}

.personal-area__event-month {
  color: $black;
}

.personal-area__event-text {
  margin-top: 10px;
  color: $black;
}

.personal-area__story {
  padding-top: 50px;
}

// кнопка Добавить встречу
.personal-area__add-meeting {
  display: grid;
}

.personal-area__card {
  padding: 30px 30px 20px;

  &_type_add-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


// пустая форма
.personal-area__add-photo-button {
  padding: 0;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/svg/personal-area-plus.svg) center no-repeat;
  border: 1px solid $lightGray;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
}

.personal-area__bottom-caption {
  padding-top: 5px;
  color: $lightGray;
}

.personal-area__form {
  width: 100%;
  display: grid;
  gap: 20px 30px;
  grid-template-columns: 1fr minmax(240px, 290px);
  grid-template-rows: auto;
}

.personal-area__form-input {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 13px 20px 16px;
  background-color: $background;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: $black;

  &::placeholder {
    color: $lightGray;
  }

  &_type_textarea {
    grid-column: 1 / -1;
    min-height: 286px;
    resize: none;
  }

  &[type="date"]:not(:focus):not(.has-value):before {
    color:$lightGray;
    content: attr(placeholder);
  }
}

.personal-area__rating {
  display: flex;
  align-items: center;
}

.personal-area__rate {
  width: 26px;
  height: 26px;
  padding: 0;
  margin-right: 15px;
  border: none;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  &_type_good {
    background-image: url('../images/personal-area/good.svg');
  }

  &_type_neutral {
    background-image: url('../images/personal-area/neutral.svg');
  }

  &_type_bad {
    background-image: url('../images/personal-area/bad.svg');
  }

  &_type_active-good {
    background-image: url('../images/personal-area/good-active.svg');
  }

  &_type_active-neutral {
    background-image: url('../images/personal-area/neutral-active.svg');
  }

  &_type_active-bad {
    background-image: url('../images/personal-area/bad-active.svg');
  }
}

.personal-area__rating-label {
  color: $lightGray;

  &_type_good {
    color: $green;
  }

  &_type_neutral {
    color: $lightGray;
  }

  &_type_bad {
    color: $error;
  }
}

.personal-area__buttons {
  display: flex;
  justify-content: flex-end;
}

//заполненная карточка
.personal-area__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.personal-area__date-container {
  display: grid;
  grid-template-columns: 1fr 94px;
  grid-template-rows: auto;
  align-items: start;
}

.personal-area__text-wrap {
  grid-column: 1;
}

.personal-area__card-date {
  grid-column: 2;
}

.personal-area__card-weekday {
  margin: 0;
  width: 100px;
  font-family: $ptRootUI;
  font-size: 14px;
  line-height: 1.4;
}

.personal-area__card-day {
  margin: 0;
  font-size: 60px;
  text-align: end;
}

.personal-area__actions {
  grid-column: 1 / 3;
  align-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-area__card-title {
  padding-bottom: 30px;
}

.personal-area__subtitle {
  color: $lightBlack;
  text-align: center;
  padding-bottom: 50px;
}

.personal-area__action-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-area__button {
  padding: 0;
  margin-left: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: $lightGray;
}


@include atDesktop1024 {
  .personal-area__user-info {
    display: none;
  }

  .personal-area__events {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .personal-area__event-list {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, 205px);
    grid-auto-flow: column;
    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .personal-area__event {
    min-width: 205px;
    padding: 15px;
  }

  .personal-area__event-text {
    margin-top: 5px;
  }

  .personal-area__story {
    padding-top: 20px;
  }

  .personal-area__form {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .personal-area__buttons {
    justify-content: space-between;
  }

  .personal-area__rating {
    padding: 10px 0 20px;
    width: 100%;
  }

  .personal-area__card {
    padding: 30px 15px;
  }

  .personal-area__text-wrap {
    grid-column: 1 / 3;
  }

  .personal-area__card-title {
    padding-bottom: 75px;
  }

  .personal-area__card-date {
    position: absolute;
    top: 30px;
    right: 15px;
  }

  .personal-area__actions {
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .personal-area__opened-info {
    display: none;
  }

  .personal-area__action-elements {
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  .personal-area__button {
    margin: 0;
  }


}
