.personal-area {
  padding-top: 30px;
}

.personal-area__user-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.personal-area__user-link {
  text-decoration: none;
  color: $lightGray;
  margin-left: 30px;

  &:first-of-type {
    margin-left: 0;
  }
}

.personal-area__events {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid $darkGray;
}

.personal-area__title {
  margin: 0 auto;
  max-width: 770px;
  text-align: center;
  color: $lightBlack;
}

// карточки с мероприятиями
.personal-area__event-list {
  margin: 30px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 30px;
}

.personal-area__event {
  min-width: 270px;
  padding: 30px;
  padding-right: 24px;
}

.personal-area__event-date {
  width: 100%;
  display: flex;
}

.personal-area__event-number {
  margin-right: 10px;
}

.personal-area__event-month {
  color: $black;
}

.personal-area__event-text {
  margin-top: 10px;
  color: $black;
}

.personal-area__story {
  padding-top: 50px;
  padding-bottom: 50px;
}

// кнопка Добавить встречу
.personal-area__add-meeting {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 15px;
  align-items: center;
}

.personal-area__add-meeting-button {
  position: relative;
  padding: 0;
  width: 48px;
  height: 48px;
  border: 1px solid $blue;
  border-radius: 100%;
  outline: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 16.5px;
    width: 1px;
    height: 12px;
    background-color: $blue;
    transform: translateX(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    left: 16.5px;
    top: 50%;
    width: 12px;
    height: 1px;
    background-color: $blue;
    transform: translateY(-50%);
  }
}

.personal-area__meeting-caption {
  color: $blue;
}

.personal-area__card {
  padding: 30px 30px 20px;
}

.personal-area__story-form {
  margin-top: 80px;

  &:first-of-type {
    margin-top: 0;
  }
}

//заполненная карточка
.personal-area__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.personal-area__date-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto;
  gap: 30px 10px;
  align-items: start;
  color: $black;
}

.personal-area__card-title {
  grid-column: 1;
}

.personal-area__card-date {
  grid-column: 2;
  grid-row: 1 / 3;
}

.personal-area__card-weekday {
  white-space: nowrap;
}

.personal-area__card-day {
  margin: 5px 0 0;
  font-family: $protoGrotesk;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -2px;
  text-align: end;
}

.personal-area__text {
  grid-column: 1;
  max-height: 285px;
  padding-right: 10px;
}

.personal-area__card-paragraph {
  margin-top: 15px;

  &:first-of-type {
    margin-top: 0;
  }
}

.personal-area__actions {
  margin-top: auto;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-area__curator-select {
  margin-left: auto;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: $lightGray;
}

.personal-area__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.personal-area__button {
  padding: 0;
  margin-left: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: $lightGray;
}

@include atDesktop1380 {
  .personal-area__story-form {
    margin-top: 30px;
  }

  .personal-area__card {
    padding: 30px 15px;
  }

  .personal-area__date-container {
    gap: 15px;
  }

  .personal-area__card-title {
    padding-bottom: 0;
  }

  .personal-area__card-date {
    grid-row: 1;
  }

  .personal-area__text {
    grid-column: 1 / 3;
    max-height: 210px;
  }

  .personal-area__actions {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

@include atDesktop1024 {
  .personal-area__user-info {
    display: none;
  }

  .personal-area__events {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .personal-area__event-list {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, 205px);
    grid-auto-flow: column;
    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .personal-area__event {
    min-width: 205px;
    padding: 15px;
  }

  .personal-area__event-number {
    line-height: 1.2;
  }

  .personal-area__event-text {
    margin-top: 5px;
  }

  .personal-area__story {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .personal-area__add-meeting-button {
    width: 40px;
    height: 40px;

    &::before {
      top: 14px;
      height: 10px;
    }

    &::after {
      left: 14px;
      width: 10px;
    }
  }

  .personal-area__actions {
    margin-top: 5px;
    flex-wrap: wrap;
  }

  .personal-area__curator-select {
    margin-top: 20px;
    margin-left: 0;
    min-width: 173px;
    min-height: 17px;
    background-image: url('../images/svg/input-select-arrow.svg');
    background-size: 10px 5px;
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
  }

  .personal-area__buttons {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .personal-area__button {
    margin-left: 0;
  }
}
