.place-card {
  margin: 40px auto 0;
  padding: 50px 30px;
  max-width: 770px;
  box-sizing: border-box;
  text-align: center;
}

.place-card__span-accent {
  color: $blue;
  cursor: pointer;
}

@include atTablet {
  .place-card {
    padding: 30px 15px;
  }
}
