.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: visibility .3s, opacity .3s ease;
}

.popup_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.popup__close {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url('../../images/svg/popup_close.svg');
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  color: $blue;
  cursor: pointer;
}

@include atMobileL {
  .popup__close {
    top: 15px;
    right: 15px;
  }
}
