.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s linear;

  &_opened {
    opacity: 1;
    visibility: visible;
  }

  &_type_sign-in {
    backdrop-filter: blur(7px);
  }
}

.popup__container {
  margin: 0;
  padding: 0;
  z-index: 2;
  border-radius: 30px;
  padding-right: 5px;
  background-color: $white;
  font-family: $ptRootUI;
  box-sizing: border-box;
  overflow: hidden;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 80vw;
  max-height: 90vh;
  min-width: 285px;
  padding: 50px 25px 50px 30px;
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $lightGray transparent;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $lightGray;
    border-radius: 5px;
  }

  &_type_recommendation-finish {
    width: 765px;
  }

  &_type_cities {
    padding-left: 15px;
    padding-right: 10px;
    width: 395px;
  }

  &_type_video {
    padding-top: 30px;
    width: 1705px;
    height: 955px;
  }

  &_type_sign-in {
    width: 765px;
  }

  &_type_calendar {
    width: 765px;
  }

  &_type_confirmation {
    width: 765px;
    height: 670px;
    justify-content: center;
    text-align: center;
  }

  &_type_done {
    width: 765px;
  }
}

.popup__close {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 15px;
  background-image: url('../images/svg/popup_close.svg');
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  color: $blue;
  cursor: pointer;
}

.popup__img {
  width: 280px;
  margin-top: 30px;

  &_position_done {
    width: 413px;
  }
}

.popup__finish-text {
  margin: 30px 130px 150px;
  max-width: 504px;
  text-align: center;
}

.popup__video-iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 30px;
}

.popup__video-title {
  margin-top: 30px;
}

.popup__video-caption {
  margin-top: 5px;
}

.popup__calendar-wrap {
  max-width: 570px;
}

.popup__buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.popup__confirm-button {
  margin-right: 15px;
}

.popup__delete-button {
  margin-right: 30px;
}

.popup__delete-text {
  max-width: 410px;
  text-align: center;
}

.popup__done-content {
  margin-top: 30px;
  margin-bottom: 80px;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popup__done-caption {
  margin-top: 30px;
}

.popup__return-button {
  margin-top: 30px;
}

@include atDesktop1024 {
  .popup__content {
    padding: 30px 10px 30px 15px;

    &_type_recommendation-finish {
      width: fit-content;
    }

    &_type_cities {
      width: 325px;
    }

    &_type_sign-in {
      padding-top: 60px;
      padding-bottom: 50px;
      width: fit-content;
    }

    &_type_calendar {
      padding-top: 60px;
      width: fit-content;
    }

    &_type_confirmation {
      height: 400px;
    }

    &_type_done {
      width: fit-content;
    }
  }

  .popup__close {
    top: 15px;
    right: 10px;
  }

  .popup__img {
    width: 200px;
    margin-top: 20px;
  }

  .popup__finish-text {
    margin: 20px 30px 80px;
  }

  .popup__confirm-button {
    margin-right: 10px;
  }

  .popup__delete-button {
    margin-right: 15px;
  }

  .popup__done-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .popup__return-button {
    margin-top: 20px;
  }
}

@include atMobileL {
  .popup_type_video {
    display: none;
  }

  .popup__finish-text {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
}
