.preview {
  display: block;
}

.preview__title-wrap {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid $blue;
  text-align: center;
}

.preview__bottons {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview__button {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  padding: 0;
  margin-left: 15px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-color: transparent;

  &:first-of-type {
    margin-left: 0;
  }

  &_rigrh {
    background-image: url('../images/svg/arrow-right.svg');
  }

  &_left {
    background-image: url('../images/svg/arrow-left.svg');
  }
}

/* .preview__content-wrap {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 40px;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, $background 100%);
  }
} */

.preview__row {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 420px);
  grid-template-rows: 1fr 1px;
  gap: 30px; */
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.preview__card {
  min-width: 420px;
  margin-left: 30px;

  &:first-of-type {
    margin-left: 0;
  }
}

@include atDesktop1440 {
  .preview__card {
    min-width: 370px;
  }
}

@include atDesktop1024 {
  .preview {
    padding-top: 50px;
  }

  .preview__title-wrap {
    padding-bottom: 10px;
  }

  .preview__bottons {
    bottom: 10px;
  }

  .preview__button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-size: 20px 20px;
  }

  .preview__row {
    margin-top: 20px;
  }

  .preview__card {
    min-width: 290px;
  }
}

@include atTablet {
  .preview {
    padding-top: 30px;
  }

  .preview__title-wrap {
    text-align: left;
  }
}
