.recommendation {
  &__title {
    margin: 40px auto 0;
    padding: 50px 30px;
    max-width: 770px;
    box-sizing: border-box;
    background-color: $white;
    text-align: center;
    border-radius: 30px;
  }

  &__span {
    color: $blue;
    cursor: pointer;
  }

  &__popup-title {
    padding-bottom: 40px;
    text-align: center;
  }

  &__submit {
    margin-left: auto;
    align-self: center;
  }

  &__logo {
    background-image: url('../../images/where-to-go/rec_done.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 250px;
  }

  &__add-place {
    align-self: center;
    margin: 0;
    padding-left: 20px;
    color: $lightGray;
    font-size: 15px;
    line-height: 1.26;
    font-family: $protoGrotesk;
    letter-spacing: .2px;
  }

  &__add-button {
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    height: 50px;

    &::before {
      content: '';
      position:absolute;
      top: 14px;
      left: 50%;
      width: 1px;
      height: 23px;
      background-color: $blue;
      transform:translateX(-50%);
    }
    &::after {
      content: '';
      position:absolute;
      top: 50%;
      left: 14px;
      width: 23px;
      height: 1px;
      background-color: $blue;
      transform:translateY(-50%);
    }
  }
}

@include atMobile {
  .recommendation__submit {
    margin-top: 10px;
    margin-left: 0;
  }

  .recommendation__popup-title {
    padding-bottom: 20px;
  }
}
