.search {
  display: flex;
}

.search__options {
  display: none;
  width: 100%;
  margin-left: 10px;

  &_visible {
    display: block;
  }
}

.search__input {
  width: calc(100% - 3px); //для единой границы при наличии скроллбара
  padding: 0 0 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid $black;
  background-color: transparent;

  &::placeholder {
    color: $lightGray;
  }
}

.search__option-list {
  margin-top: 44px;
  padding: 0 3px 0 0;
  list-style-type: none;
  max-height: 450px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba($lightGray, 0.6) transparent;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($lightGray, 0.6);
    border-radius: 5px;
  }
}

.search__option-item {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid $lightGray;

  &:first-of-type {
    margin-top: 0;
  }
}

.search__title-link {
  display: block;
  max-width: 670px;
  padding-bottom: 10px;
  text-decoration: none;
}

@include atDesktop1380 {
  .search__options {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .search__option-list {
    margin-top: 30px;
    max-height: 400px;
  }

  .search__option-item {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .search__title-link {
    padding-bottom: 5px;
  }
}
