.sign-in__user-info {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 570px;
}

.sign-in__legend {
  text-align: center;
  margin-bottom: 50px;
}

.sign-in__paragraph {
  margin-top: 30px;

  &:first-of-type {
    margin-top: 15px;
  }
}

.sign-in__input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 13px 20px 16px;
  background-color: $background;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: .2px;
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }

  &_required::placeholder {
    color: $error;
  }

  &::placeholder {
    color: $lightGray;
  }

  &:focus {
    border: 1px solid $lightGray;
  }
}

.sign-in__forgot-password {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
}

.sign-in__enter {
  margin-top: 30px;
}


@include atDesktop1024 {
  .sign-in__legend {
    margin-bottom: 30px;
  }

  .sign-in__paragraph {
    margin-top: 20px;
  }

  .sign-in__input {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    margin-top: 10px;
  }
}
