.stories {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  overflow: hidden;

  &:after {
    content: '';
    border-bottom: 1px solid $lightGray;
    max-width: 1170px;
    width: 100%;
  }

  &:last-of-type:after {
    border-bottom: none;
  }
}

.stories__text-box {
  max-width: 770px;
}

.stories__title {
  padding-bottom: 40px;
}

.stories__description {
  padding-bottom: 25px;
  text-align: center;
}

.stories__tags {
  padding-top: 0;
  margin-bottom: 40px;
}

.stories__list {
  max-width: 1120px;
  overflow-x: scroll;
  scrollbar-width: none;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

.stories__arrow {
  margin-left: 15px;
}

.stories__image {
  padding-bottom: 50px;
}

.stories__name {
  padding-bottom: 10px;
}

.stories__caption {
  padding-bottom: 30px;
  color: $darkGray;
  font-size: 14px;
  line-height: 1.35;
}

.stories__about {
  padding-bottom: 50px;
  text-align: center;
}

.stories__about-full {
  padding-bottom: 80px;
}

.stories__parahraphs {
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 50px;
  }
}

.stories__paragraph {
  padding-bottom: 80px;
}

.stories__images-box {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
}

.stories__slide {
  border-radius: 30px;
  max-width: 770px;
}

.stories__quote {
  margin: 0;
}

.stories__quote-text {
  text-align: center;
  color: #1a1a1a;

  &:after {
    content: '';
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid $lightGray;
    max-width: 770px;
  }

  &:before {
    content: '';
    padding: 30px 0;
    display: block;
    margin: 0 auto;
    max-width: 770px;
    border-top: 1px solid $lightGray;
  }
}

.stories__arrows {
  margin: 0 45px;
  background-repeat: no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
}

.stories__arrow-left {
  background-image: url('../images/svg/arrow-left-black.svg');
}

.stories__arrow-right {
  background-image: url('../images/svg/arrow-right-black.svg');
}

@include atDesktop1380 {
  .stories__tags {
    display: grid;
    align-self: start;
    overflow: hidden;
  }

  .stories__tags_content_long-list {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      width: 40px;
      height: 100%;
      background: linear-gradient(90deg, transparent 0%, $background 100%);
    }
  }
}

@include atDesktop1024 {
  .stories__title {
    padding-bottom: 23px;
  }

  .stories__tags {
    margin-bottom: 30px;
  }

  .stories__image {
    padding-bottom: 20px;
  }

  .stories__caption {
    padding-bottom: 20px;
  }

  .stories__about {
    padding-bottom: 30px;
  }

  .stories__text-box {
    max-width: 570px;
  }

  .stories__quote-text {
    &:after {
      max-width: 570px;
    }

    &:before {
      max-width: 570px;
    }
  }

  .stories__about-full {
    padding-bottom: 50px;
  }

  .stories__images-box {
    padding-bottom: 35px;
    padding-top: 50px;
  }

  .stories__parahraphs {
    padding-bottom: 20px;
  }

  .stories__paragraph {
    padding-bottom: 50px;
  }

  .stories__slide {
    margin: 0 15px;
    max-width: 570px;
  }

  .stories__arrows {
    display: none;
  }
}

@include atMobileL {
  .stories__slide {
    max-width: 260px;
  }
}
