@import '../base/mixins.scss';

.lead__text {
  margin: 40px auto 0;
  max-width: 1170px;
  text-align: center;
}

@include atDesktop1440 {
  .lead__text {
    max-width: 970px;
  }
}

@include atDesktop1024 {
  .lead__text {
    margin-top: 20px;
  }
}
