@import '../base/variables.scss';
@import '../base/mixins.scss';

.page {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  background-color: $background;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page__section {
  margin: 0 auto;
  padding: 80px 75px 0;
}

@include atDesktop1440 {
  .page__section {
    padding-left: 135px;
    padding-right: 135px;
  }
}

@include atDesktop1024 {
  .page__section {
    padding: 40px 127px 0;
  }
}

@include atTablet {
  .page__section {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@include atMobile {
  .page__section {
    padding: 20px 15px 0;
  }
}
