.section-title {
  margin: 0;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.3;
  color: $black;
  text-align: center;

  &_clickable {
    display: inline-block;
    text-decoration: none;
    transition: .2s linear;

    &:hover {
      color: $blue;
    }
  }
}

.section-title_type_test {
  margin-top: 40px;
}

@include atDesktop1024 {
  .section-title {
    font-size: 19px;
    line-height: 1.2;
  }
}
