// шрифты
$ptRootUI: 'PTRootUIWebRegular', Arial, sans-serif;
$protoGrotesk: 'ProtoGroteskWebLight', Arial, sans-serif;

// цвета
$background: #f3f2f2;
$blue: #224cff;
$darkBlue: #2e2468;
$darkGray: #464646;
$lightGray: #a7a6a6;
$lightBlue: #c8d1ff;
$pink: #ff8585;
$yellow: #f8d162;
$green: #8cdd94;
$error: #ff4e4e;
$black: #000000;
$white: #ffffff;
$lightBlack: #1a1a1a;
