.place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@include atDesktop1024 {
  .place {
    grid-template-columns: 1fr;
  }
}

@include atMobile {
  .place {
    grid-template-columns: minmax(290px, 450px);
    justify-content: center;
  }
}
