.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  max-width: 570px;
  height: 414px;
  border-radius: 30px;
  background-color: $white;
  font-size: 14px;
  line-height: 1.4;
  font-family: $ptRootUI;
  color: $black;
}

.calendar_unauthorized {
  padding: 0;
  border-radius: 30px;
  background-color: $green;
}

.calendar_selected {
  background-color: $lightBlue;
}

.calendar__container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(370px, 570px));
  gap: 30px;
}

.calendar__weekday {
  margin: 0;
}

.calendar__about {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.calendar__type {
  margin: 0;
  color: $darkGray;
}

.calendar__date {
  font-family: $protoGrotesk;
  font-size: 100px;
  line-height: 1;
  margin: 0;
}

.calendar__time {
  margin: 0;
  color: $lightBlack;
  padding-bottom: 5px;
  border-bottom: 1px solid $lightGray
}

.calendar__info {
  display: flex;
  justify-content: space-between;
}

.calendar__place {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid $lightGray;
  color: $lightBlack;
}

.calendar__title {
  max-width: 320px;
}

.calendar__logo {
  display: block;
  box-sizing: border-box;
  padding-top: 35px;
  padding-left: 30px;
  background-image: url('../../../images/svg/calendar_logo.svg');
  background-repeat: no-repeat;
  background-size: 252px 46px;
  background-origin: content-box;
  background-color: $pink;
  max-width: 395px;
  height: 129px;
  border-radius: 30px 3px 200px 3px;
}

.calendar__title_unauthorized {
  padding: 70px 30px;
  max-width: 510px;
  border-radius: 400px;
  background-color: $pink;
  text-align: center;
}

.calendar__contact {
  margin: 0;
  padding-top: 10px;
  color: $black;
}

.calendar__submit {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.calendar__place-left {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  font-family: $ptRootUI;
  align-self: center;
  padding-left: 15px;
}

.calendar__button-dots {
  margin-left: auto;
}

.calendar__popup {

}

.calendar__confirm {

}

.calendar__succes {

}


@include atDesktop1440 {
  .calendar__container {
    grid-template-columns: repeat(auto-fill, minmax(370px, max-content));
  }
}
