.chapter-title {
  margin: 0;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 44px;
  line-height: 1.1;
  color: $black;

  &_clickable {
    color: $blue;
    text-decoration: none;
    transition: .2s linear;

    &:hover {
      color: $darkBlue;
    }
  }
}

@include atDesktop1024 {
  .chapter-title {
    font-size: 23px;
    line-height: 1.3;
  }
}
