.rubric {
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 7px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: $ptRootUI;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: $darkGray;
  text-transform: uppercase;
  white-space: nowrap;
}
