.tags {
  margin-top: 40px;
}

.tags__list {
  margin: 15px auto 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  &:first-of-type {
    margin-top: 0;
  }
}

.tags__button {

  &_active {
    background-color: $black;
    color: $background;

    &:hover {
      background-color: $darkBlue;
      color: $background;
      border-color: $darkBlue;
    }
  }
}

@include atDesktop1024 {
  .tags {
    margin-top: 20px;
  }

  .tags__list {
    margin-top: 10px;
  }
}

@include atMobile {
  .tags {
    position: relative;
    //box-shadow: inset -40px 0px 27px -23px white;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tags__list {
    position: relative;
    //z-index: 0;
    justify-content: flex-start;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      height: 100%;
      background: linear-gradient(90deg, transparent 0%, $background 100%);
    }
  }

  .tags__button {
    position: relative;
    z-index: 0;
  }
}

