.tags {
  margin-top: 40px;
  position: relative;
}

.tags__list {
  margin: 15px auto 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  &:first-of-type {
    margin-top: 0;
  }
}

.tags__button {

  &_active {
    background-color: $black;
    color: $background;

    &:hover {
      background-color: $darkBlue;
      color: $background;
      border-color: $darkBlue;
    }
  }
}

.tags__shadow {
  display: none;
}

@include atDesktop1024 {
  .tags {
    margin-top: 20px;
  }

  .tags__list {
    margin-top: 10px;
  }
}

@include atMobile {
  .tags__list {
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tags__shadow {
    display: block;
    position: absolute;
    top: 0;
    right: -1px;
    width: 40px;
    z-index: 1;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, $background 100%);
  }
}
